# Titanic Survival Prediction using NAIVE BAYES

# Importing Basic Libraries

In [2]:
import pandas as pd

# Load Dataset

In [4]:
dataset = pd.read_csv('titanicsurvival.csv')

# Summerize Dataset

In [5]:
print(dataset.shape)
dataset.head()

(891, 5)

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

# Mapping Text data to Bianary Value

In [6]:
dataset['Sex'] = dataset['Sex'].map({'female': 0, 'male':1}).astype(int)
print(dataset.head())

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0

# Segregate Dataset into X (Input/ Independent Variable) & Y(Output/ Dependent Variable)

In [7]:
X = dataset.drop('Survived', axis = 'columns')
X

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [9]:
Y = dataset.Survived
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

# Finding & Removing NA Values from our Features X

In [11]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [12]:
X.Age = X.Age.fillna(X.Age.mean())

In [13]:
X.columns[X.isna().any()] # checking thatNA values are replaced with mean

Index([], dtype='object')

# Splitting Dataset into Train & Test

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.25, random_state=0)

# Feature Scaling

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Training

In [26]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

# Prediction for all Test Data

In [28]:
y_pred = model.predict(x_test)
y_pred

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 1, 1])

# Accuracy of our Model

In [32]:
from sklearn.metrics import accuracy_score
print("Accuracy : ", accuracy_score(y_test, y_pred)*100,'%')

Accuracy :  77.57847533632287 %

# Predicting whether Person Survived or Not

In [34]:
pclass= int(input("Enter passanger class number: "))
sex = int(input("0 - female, 1- male :"))
age = int(input("enter Age: "))
fare = float(input("Enter fare : "))
person = [[pclass, sex, age, fare,]]
result = model.predict(person)

if result --1:
    print("Person might be survived")
else:
    print("Person might not be survived")

Enter passanger class number: 2
0 - female, 1- male :1
enter Age: 33
Enter fare : 100
Person might be survived